<header class="header">
  <div class="links">
    @for (item of navigation; track item.name) {
      <a routerLink="{{ item.url }}" tuiLink>{{ item.name }}</a>
    }
  </div>
  <div class="personal">
    <a routerLink="/private" tuiLink> Private area </a>
    <app-basket-details></app-basket-details>
    <button
      tuiIconButton
      type="button"
      appearance="outline"
      size="m"
      [icon]="(night | async) ? 'tuiIconSun' : 'tuiIconMoon'"
      (click)="toggleDarkMode()"></button>
  </div>
</header>
